*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle-green{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: green;
    display: inline-block;
}

.circle-red{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;

}
body {
    background-image: url(https://www.hotel-splendid.it/media/slide/homepage/01.jpg);
    background-size: cover; /* Per fare in modo che l'immagine si adatti completamente al body */
    background-repeat: no-repeat; /* Per evitare la ripetizione dell'immagine */
    height: 100vh;
}
